.containers {
  background-color: #fff;
  padding: 1.2rem;
  margin: 1rem 8rem;
  align-items: center;
  border-radius: .5rem;
}

.formControlOverride {
  margin: .5rem
}

.formCheckOverride {
  margin-bottom: .5rem;
}

form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.firstform{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 900px;
  }


.middle{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  margin-top: 30px;
}

.end{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

p{
  font-size: 12px;
}

img{
  height: 120px;
  width: 120px;
  border: 1px solid ;
}

.buttons{
  background-color: green;
}